.markKoHei {
  
}

#BtnReport  {
	/*background: url('chrome-extension://__MSG_@@extension_id__/img/btnReport_normal_24x24.png');*/ /*manifest.jason "web_accessible_resources"中要加入此文件路徑*/
	/*background-repeat: no-repeat;*/
	height: 24px;
	position:relative;
	text-decoration: none;
	/*line-height: 24px;*/
	line-height: 1.8rem;
}

#BtnReport:hover {
	/*background: url('chrome-extension://__MSG_@@extension_id__/img/btnReport_focus_24x24.png');*/ /*manifest.jason "web_accessible_resources"中要加入此文件路徑*/
	/*background-repeat: no-repeat;*/
	height: 24px;
	position:relative;
	text-decoration: underline;
	text-decoration-color: red;
	/*line-height: 24px;*/
	line-height: 1.8rem;
}

#BtnSettingOptions  {
	background: url('chrome-extension://__MSG_@@extension_id__/img/solve_32x32.png'); /*manifest.jason "web_accessible_resources"中要加入此文件路徑*/
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	position:relative;
	text-decoration: none;
	line-height: 32px;
	display:block;
}

#BtnSettingOptions:hover  {
	background: url('chrome-extension://__MSG_@@extension_id__/img/solve_32x32.png'); /*manifest.jason "web_accessible_resources"中要加入此文件路徑*/
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	position:relative;
	text-decoration: none;
	line-height: 32px;
	display:block;
}

#DivSettingOptions {
	margin:4px;
}

#BtnSettingOptions .tooltiptext  {
	visibility: hidden;
    background-color: var(--paper-tooltip-background, #616161);
    color: #fff;
    opacity: 0.9;
    text-align: center;
	padding: 8px;
    border-radius: 2px;
    margin: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-transform: none;
	white-space: nowrap;
 
    position: relative;
	left: -35px;
	top: 53px;
	right: auto;
	bottom: auto;
    z-index: 1;
}

#BtnSettingOptions:hover .tooltiptext  {
	visibility: visible;
}

#BtnSettingOptions .tooltiptext::after {
    content: "";
    position: absolute;
    left: 50%;
	top: -20px;
    margin-left: -5px;
	border-top-width: 10px;
	border-right-width: 5px;
	border-bottom-width: 10px;
	border-left-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
	opacity: 0.9;
}

#KHDT_contextmenu {
	position: absolute;
	list-style: none;
	padding: 5px;
	background-color: #EEF1F7;
	display: none;
	cursor: default;
	line-height: 30px;
	width: 170px;
	text-align: center;
}

#KHDT_contextmenu li:hover {
	background-color: #DDE1EA;
}
