﻿#BtnReDetect {
	background: url(../img/btnReDetect_normal_32x32.png);
	width: 32px;
	height: 32px;
	display: block;
	position:relative;
}

#BtnReDetect:hover {
	background: url(../img/btnReDetect_focus_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}

#BtnReDetect.active {
	background: url(../img/btnReDetect_down_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}

#BtnKPInfo {
	background: url(../img/btnKPInfo_normal_32x32.png);
	width: 32px;
	height: 32px;
	display: block;
	position:relative;
}

#BtnKPInfo:hover {
	background: url(../img/btnKPInfo_focus_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}

#BtnKPInfo.active {
	background: url(../img/btnKPInfo_down_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}

#BtnWebsite {
	background: url(../img/btnHome_normal_32x32.png);
	width: 32px;
	height: 32px;
	display: block;
	position:relative;
}

#BtnWebsite:hover {
	background: url(../img/btnHome_focus_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}

#BtnWebsite.active {
	background: url(../img/btnHome_normal_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}

#BtnKPWebsite img{
    border: 1px solid transparent;
}

#BtnKPWebsite:hover img{
    border: 1px solid rgb(51,163,181);
}

#BtnDonate {
	background: url(../img/btnDonate_normal_32x32.png);
	width: 32px;
	height: 32px;
	display: block;
	position:relative;
}

#BtnDonate:hover {
	background: url(../img/btnDonate_focus_32x32.png);
	width: 32px;
	height: 32px;
	position:relative;
}